@import "tailwindcss";
/* مخفی کردن اسکرول‌بار برای کروم، سافاری و اپرا */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* مخفی کردن اسکرول‌بار برای IE، Edge و فایرفاکس */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/*=======================================================================================================> */
/* * {
  outline: 1px solid rgba(255, 0, 0, 0.3);
} */
/* 
* {
 
} */
/* ======================================================================================================> */
